<footer>
    <section class="footer-content-container">
        <div class="sitemap-container">
            <p style="font-weight: bold;color: white;">Okulista Poznań</p>

            <ul id="sitemap">
                <li><a href="#start">Start</a></li>
                <li><a href="#okulistyka">Usługi</a></li>
                <li><a href="#cennik">Cennik</a></li>
                <li><a href="#mapa-dojazdu">Kontakt / Mapa dojazdu</a></li>
            </ul>
        </div>

        <div class="clause-container">
            <p><span>2019</span> Okulista-poznan.pl</p>
            <a href="#" style="text-decoration: none" class="" data-toggle="modal" data-target="#exampleModalCenter">
                Klauzula informacyjna
            </a>
        </div>
    </section>
</footer>