<header id="header">
    <section id="subnav">
        <p class="subnav">Okulistyka
<!--            <br>Medycyna estetyczna, <br> Diagnostyka biologiczna-->
        </p>

        <div class="urls">
            <a class="subnav" href="tel:+48603766266">
                <i class="fas fa-phone-alt"></i>
                603 766 266
            </a>    
            <a class="subnav" href="mailto:info@gabinety-specjalistyczne.pl">
                <i class="far fa-envelope"></i>
                info@gabinety-specjalistyczne.pl
            </a>
<!--            <a class="subnav" href="#">-->
<!--                <i class="fab fa-facebook-f"></i>-->
<!--                Profil na Facebook-->
<!--            </a>-->
        </div>
    </section>

    <hr class="separator">
</header>