//colors 

$subnav-color: #aaa;
$primary-color: #222;
$secondary-color: #05d2dd;
$accent-color: #3f38a3;
$dark-background-color: #131224;
$separator-color: rgba(0,0,0,0.2);

$white: #fff;

//font-weight

$regular: 400;
$semi-bold: 600;
$bold: 700;



